<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>School System</title>
    <link rel="stylesheet" type="text/css" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">School System</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <ng-include src="'html/templates/menu.html'"></ng-include>
                </ul>
            </div>
        </nav>
    </header>

    <div class="fixed-action-btn hide-on-med-and-up button-collapse">
        <a class="btn-floating btn-large green waves-effect waves-light" href="#">
            <i class="large material-icons">add</i>
        </a>
    </div>
