<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>School System</title>
    <link rel="stylesheet" type="text/css" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">School System</a>
            <a href="#" data-activates="school-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <ng-include src="html/templates/menu.html"></ng-include>
            </ul>
            <ul class="side-nav" id="school-mobile">
                <ng-include src="html/templates/menu.html"></ng-include>
            </ul>
        </div>
    </nav>
