<section ng-controller="ModuleController as modCtrl">
<a id="btn-add" class="btn-floating btn-large waves-effect right waves-light green">
    <i class="material-icons">add</i>
</a>
<div id="card-search" class="card-panel">
    <div class="row">

        <div class="input-field col s7">
            <i class="material-icons prefix">search</i>
            <input placeholder="Pesquisar" id="search-field" type="text" class="validate">
        </div>

        <div class="input-field col s4">
            <select>
              <option value="" disabled selected>Pesquisar por</option>
              <option value="1">#</option>
              <option value="2">Descrição</option>
              <option value="3">Ativo</option>
              <option value="4">Data de cadastro</option>
              <option value="5">Todos</option>
          </select>
        </div>

    </div>
</div>

<div class="row">
    <div class="card-panel">

        <table class="responsive-table">
            <thead>
                <th>#</th>
                <th>Descrição</th>
                <th>Ativo</th>
                <th>Data de cadastro</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr ng-repeat="ml in modules">
                    <td>{{ml.id}}</td>
                    <td>{{ml.description}}</td>
                    <td>{{ml.registration_date}}</td>
                    <td>{{ml.active}}</td>
                    <td>
                        <a class="material-icons" href=""> mode_edit</a>
                        <a class="material-icons" href=""> delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>