body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #eee;
}

main {
    flex: 1 0 auto;
    padding: 15px;
}

footer {
    background: #388E3C !important;
}

nav {
    background: #4CAF50;
}

#card-search {
    padding: 5px;
}

#card-search .row {
    margin-bottom: 0;
}

#aside-school ul {
    top: 87px;
    height: 73%;
    width: 235px;
    overflow: hidden;
}

#btn-add {
    margin: 1rem 15px;
}
